doctype html
html
  head
    title Mi Aplicación
  body
  
    h1 Mi Aplicación
    h2 Datos existentes
    a(href=`/filtrar`) Filtrar
    ul
    
      each dato in datos 
       
        li
          span= dato.columna1
          a(href=`/editar/${dato.id}`) Editar
          a(href=`/eliminar/${dato.id}`) Eliminar
    h2 Agregar nuevo dato
    form(action="/" method="POST")
      input(type="text" name="nuevoDato" placeholder="Ingrese un nuevo dato")
      button(type="submit") Agregar
